NEXT_PUBLIC_API_BASE_URL=https://api.backend.greencottagesandspa.in/api/v1
NEXT_PUBLIC_APP_URL=https://booking.greencottagesandspa.in
NEXT_PUBLIC_IMAGE_REMOTE_HOSTS=api.backend.greencottagesandspa.in
